html {
  background: linear-gradient(90deg,
  #9b4ce67c,
  rgba(219, 164, 255, 0.68),
  #fff,
  #fff,
  rgba(219, 164, 255, 0.68),
  #9b4ce67c);
}

input:focus {
  outline-color: rgba(131, 59, 145, 0.38);
}
